/*  * tira as bordas */
body, footer, main, header{ 
    margin: 0;
    padding: 0;
}
body{
    background: rgb(33, 44, 77);
}
header{
    background: rgb(51, 47, 47);
    height: 90px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between; /* cria espaço entre os itens*/
}
header nav ul{ 
    list-style: none;
    display: flex;
}
header nav ul li{
    padding: 10px; /* criar espaçamento*/
}
header nav ul li:hover{
    background: #fff;
    color: #000;
    cursor: pointer; /* efeito da maozinha */
    
}
header nav ul li:hover a{
    color:#000;
}
header nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
main{
    background: #fff;
    width: 80%;
    height: 400px;
    margin: auto; /* centraliza o background */
    margin-top: 50px;

}
header img{
    width: 90px;
    height: 90px;
    
}
footer{
    width: 100%; /* tamanho horizontal */
    height: 20px; /* tamanho vertical */
    background: #434242; /* cor fundo*/
    position: fixed; /* vai arrumar de acordo com o tamanho da tela*/
    bottom: 0; /* é a distancia da parte inferior */

}